{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}


{% block main %}

    <div class="login-content">
        {% if error %}
            <div class="alert alert-danger text-center" role="alert">
                <p><strong>Error:</strong> {{ error }} </p>
            </div>
        {% endif %}

        <div class="row gap-5">
            <div class="col-md">
                <div class="card mb-5">
                    <div class="card-body mx-3">
                        <form action="/login" method="post">
                            <div class="mb-3">
                                <label for="login-input" class="form-label">Username</label>
                                <input type="text" class="form-control" id="login-input" aria-describedby="loginInput" name="username" placeholder="Enter username" autocomplete="off">
                            </div>
                            <div class="mb-3">
                                <label for="login-password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="login-password" name="password" placeholder="Enter password">
                            </div>
                            
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md d-flex aling-items-center justify-content-center">
                <img class="log-reg-logo" src="../static/whiteboard-logo.svg" alt="whiteboard logo">
            </div>
        </div>
    </div>

{% endblock %}

{% block footer %}
    <footer class="mb-5">
        <p class="mb-3 small text-center text-muted">
            Corina IDL <span id="date"></span> All Rights Reserved
        </p>
        <script> document.querySelector('#date').innerHTML = new Date().getFullYear(); </script>
    </footer>
{% endblock %}