{% extends "layout.html" %}

{% block title %}
    Login
{% endblock %}


{% block main %}

    {% if error %}
        <div class="alert alert-danger text-center" role="alert">
            <p><strong>Error:</strong> {{ error }} </p>
        </div>
    {% endif %}

    <div class="row mt-5 gap-5">
        <div class="col-md">
            <div class="card mb-5">
                <div class="card-body mx-3">
                    <form action="/register" method="post">
                        <div class="mb-3">
                            <label for="register-username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="register-username" aria-describedby="usernameHelp" name="username" placeholder="Enter username">
                            <div id="usernameHelp" class="form-text">Username must be unique</div>
                        </div>
                        <div class="mb-3">
                            <label for="register-name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="register-name" name="name" placeholder="Enter your real name">
                        </div>
                        <div class="mb-3">
                            <label for="register-email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="register-email" aria-describedby="emailHelp" name="email" placeholder="Enter email">
                            <div id="emailHelp" class="form-text">Must be a valid and unique email</div>
                        </div>
                        <div class="mb-3">
                            <label for="register-password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="register-password" name="password" placeholder="Enter password">
                        </div>
                        <div class="mb-3">
                            <input type="password" class="form-control" name="confirmation" placeholder="Confirm password">
                        </div>
                           
                        <button type="submit" class="btn btn-primary">Register</button>
                    </form>
                </div>
            </div>
        </div>
    
        <div class="col-md d-flex aling-items-center justify-content-center">
            <img class="log-reg-logo" src="../static/whiteboard-logo.svg" alt="whiteboard logo">
        </div>
    </div>

{% endblock %}

{% block footer %}
    <footer class="mb-5">
        <p class="mb-3 small text-center text-muted">
            Corina IDL <span id="date"></span> All Rights Reserved
        </p>
        <script> document.querySelector('#date').innerHTML = new Date().getFullYear(); </script>
    </footer>
{% endblock %}