{% extends "layout.html" %}

{% block title %}
    settings
{% endblock %}

<!--Header-->
{% block header %}
    <header class="container-fluid pt-5 mt-3 px-5 border">

        <div id="profile-header" class="d-md-flex justify-content-between">
            <div class="d-lg-flex align-items-center justify-content-center gap-3">
                {% for row in users %}
                  <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#modal-image">
                      <img src="../static/{{row.image}}" class="rounded-circle" height="150" width="150" alt="Avatar" loading="lazy" />
                  </a>
                <!--Modal for changing the avatar-->
                <div class="modal fade" id="modal-image" tabindex="-1" aria-labelledby="image-Label" aria-hidden="true">
                    <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="image-Label">change Profile Picture</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        {% for row in users %}
                            <div class="d-flex justify-content-center align-items-center">
                                <img src="../static/{{row.image}}" alt="profile picture" width="200" height="200" loading="lazy">
                            </div>
                            <form class="onsubmit-disable" action="/image/{{ row.username }}" method="post" onkeyenter-click="#change-img-btn" enctype="multipart/form-data">
                                
                                <div class="mb-3">
                                    <label for="image" class="col-form-label">Select a photo</label>
                                    <input type="file" class="form-control" name="image" accept="image/png, image/jpg">
                                    <div class="form-text">File should weigh less than 5MB</div>
                                    <div class="form-text">Pictures with square dimensions are preferable</div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
                                    <button id="change-img-btn" type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                        {% endfor %}
                        </div>
                    </div>
                    </div>
                </div>
                  <div>
                      <a href="/profile-{{ row.username }}">
                          <h3 class="text-dark">{{ row.username }}</h3>
                          <h6 class="text-dark">{{ row.name }}</h6>
                      </a>
                      <p>Joined on {{ row.joined | format_date }}</p>
                  </div>
                {% endfor %}
            </div>
            <div>
                {% for row in users %}
                  <button type="button" class="btn btn-primary btn-lg btn-block" data-bs-toggle="modal" data-bs-target="#modal-edit-profile">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(255, 255, 255, 1);"><path d="M8.707 19.707 18 10.414 13.586 6l-9.293 9.293a1.003 1.003 0 0 0-.263.464L3 21l5.242-1.03c.176-.044.337-.135.465-.263zM21 7.414a2 2 0 0 0 0-2.828L19.414 3a2 2 0 0 0-2.828 0L15 4.586 19.414 9 21 7.414z"></path></svg>
                    Edit
                  </button>

                  <!--Modal for editing profile-->
                  <div class="modal fade modal-lg" id="modal-edit-profile" tabindex="-1" aria-labelledby="edit-profile-Label" aria-hidden="true">
                      <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-header">
                          <h1 class="modal-title fs-5" id="edit-profile-Label">Edit Profile</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                          {% for row in users %}
                              <form class="onsubmit-disable" action="/edit-profile/{{ row.username }}" method="post" onkeyenter-click="#edit-profile-btn">
                                  
                                  <div class="mb-3">
                                      <label for="workplace" class="col-form-label">Workplace:</label>
                                      <input type="text" class="form-control" name="workplace" placeholder="Your workplace" value="{{ row.workplace }}">
                                      </div>
                                      <div class="mb-3">
                                      <label for="location" class="col-form-label">Where you live:</label>
                                      <input type="text" class="form-control" name="location" placeholder="Enter your location" value="{{ row.location }}">
                                      </div>
                                      <div class="mb-3">
                                      <label for="studies" class="col-form-label">Education:</label>
                                      <input type="text" class="form-control" name="studies" placeholder="Your studies" value="{{ row.studies }}">
                                      </div>
                                      <div class="mb-3">
                                      <label for="phone" class="col-form-label">Phone:</label>
                                      <input type="tel" class="form-control" name="phone" placeholder="Your phone number" value="{{ row.phone }}">
                                  </div>
                                  <div class="modal-footer">
                                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Discard</button>
                                      <button id="edit-profile-btn" type="submit" class="btn btn-primary">Save changes</button>
                                  </div>
                              </form>
                          {% endfor %}
                          </div>
                      </div>
                      </div>
                  </div>
                {% endfor %}
            </div>
        </div>
        <div id="profile-header_followers-container" class="d-flex gap-5 mt-3">
            <div class="container d-none d-md-block"></div>
            <div class="d-flex align-items-baseline gap-2">
                <p>{{ followers }}</p>
                <h5>Followers</h5>
            </div>
            <div class="d-flex align-items-baseline gap-2">
                <p>{{ following }}</p>
                <h5>Following</h5>
            </div>
        </div>
    </header>
{% endblock %}

{% block main %}
  <div class="container">
    <div class="card mb-5">
        <div class="card-body mx-3 row">
          <form class="border-bottom mb-3" action="/settings/username" method="post">
            <div class="mb-3">
              <label for="username" class="form-label">New Username</label>
              <input type="text" class="form-control me-2" name="username" aria-describedby="usernameHelp" placeholder="Enter new username" autocomplete="off">
              <div id="usernameHelp" class="form-text">Username must be unique.</div>
              <button type="submit" class="btn btn-primary">Change username</button>
            </div>
          </form>

          <form action="/settings" method="post">
              <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter new password">
              </div>
              <div class="mb-3">
                <input type="password" class="form-control" name="confirmation" placeholder="Match new password">
              </div>
              <button type="submit" class="btn btn-primary">Change password</button>
          </form>
        </div>
    </div>
    <div class="alert alert-danger" role="alert">
        <p class="h6 mb-3 text-uppercase">Danger zone!</p>
        <button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete profile</button>
    </div>
  </div>
  <!--Modal to Delete profile-->
  <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deletemodalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deletemodalLabel">Delete Profile</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you wanna delete your profile? This action is irremediable.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <form action="/delete" method="post">
            <input type="hidden" name="delete" value="{{users[0].id}}">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block footer %}
    <footer class="mb-5">
        <p class="mb-3 small text-center text-muted">
            Corina IDL <span id="date"></span> All Rights Reserved
        </p>
        <script> document.querySelector('#date').innerHTML = new Date().getFullYear(); </script>
    </footer>
{% endblock %}